h1 {
  font-family: 'Londrina Outline', cursive;
  padding: 3rem 0rem;
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
input[type="radio"]{
  display: none;
}
.powerrankings-bar, .submitbutton-row{
  justify-content: center;
}
.mapleleaf {
  cursor: pointer;
  transition: color 100ms;
}

button.custom-button {
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  border: 2px solid #ED452B;
  color: #ED452B;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.custom-button:focus{
  outline: none;
}
button.custom-button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  /* top: 14px; */
  right: -20px;
  transition: 0.5s;
}
button.custom-button:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: #ED452B;
  color: white;
}

button.custom-buttontton:hover:after {
  opacity: 1;
  right: 20px;
}
table, td, th, tr {
  border: none !important;
}

.hoverStye:hover {
  color: pink !important;
}
.closeContainer{
  background-color: #ED452B;
  padding-top: 1rem;
}
.closeIcon {
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 1.3rem;
  opacity: .5;
}
.closeIcon:hover{
opacity: 1;
  cursor: pointer;

}


/* Modal Table Styles */
.responsiveTable {
  width: 50%;
}
td, th{ 
  padding: .5rem 1rem;
  }
  table > tbody > tr:nth-child(1) {
    background-color: #ED452B;
    color: white;    
  }
  table > tbody > tr:nth-child(2) {
    font-weight: bold;
  }
  
  table > tbody > tr:nth-child(2) > td:nth-child(2){
    white-space: pre-wrap;
  }


tr:hover {
  background-color: lightgray;
}



.imageContainer{
  height: 175px;
  width: 175px;
  position: relative;
  margin: 20px;
}
.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;

}
.overlay{
  display: none;
  z-index: 9;
  background-color: #ED452B;
  opacity: .8;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .7rem;
  padding: 10px;

  color: white
}
.imageContainer:hover .overlay{
  display: flex;


}



  
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
 button {  
  padding: 5px;
 }
 .responsiveTable {
  width: 80% !important
 }

}