h1 {
  font-family: 'Londrina Outline', cursive;
  padding: 4rem 0rem;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

}
input[type="radio"]{
  display: none;
}

/* .star {
  cursor: pointer;
  transition: color 200ms;
} */


button {
  border-radius: 25px;
  background-color: white;
  font-weight: bold;
  border: 2px solid #ED452B;
  color: #ED452B;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button:focus{
  outline: none;
}
button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  /* top: 14px; */
  right: -20px;
  transition: 0.5s;
}
button:hover{
  padding-right: 24px;
  padding-left:8px;
  background-color: #ED452B;
  color: white;
}

button:hover:after {
  opacity: 1;
  right: 20px;
}