h1 {
  font-family: 'Rubik Mono One', sans-serif;
  padding: 4rem 0rem;
  font-size: 3.5rem;
  color: white
}
input[type="radio"]{
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.gord-img {
  border-radius:  50%; 
}
.gord-name {
  text-transform: uppercase;
  font-weight: bold;
}

.custom-bg{
  background-color: #ED452B;
  color: white
}

button {
  border-radius: 25px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 14px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
  color: white;
}
button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}